// load the default Moon keyconfig, but only once, and after unbindall (if only it was existing in KEX)
unbindkey t;
bind t "pm_stats";
unbindkey c;
bind c "pm_character";
unbindkey f;
bind f "pm_buy";
unbindkey v;
bind v "pm_identify";
unbindkey x;
bind x "pm_inventory";
unbindkey e;
bind e "pm_use";

unbindkey 1;
bind 1 "pm_skill1";
unbindkey 2;
bind 2 "pm_skill2";
// unbindkey 3;
// bind 3 "pm_skill3";
// unbindkey 4;
// bind 4 "pm_skill4";
unbindkey 5;
bind 5 "switchweapon 1 0";
unbindkey 6;
bind 6 "switchweapon 3 2";
unbindkey 7;
bind 7 "switchweapon 6";

unbindkey mouse_right;
bind mouse_right "pm_buy";
unbindkey mouse_middle;
bind mouse_middle "impulse 1";

unbindkey mouse4;
bind mouse4 "kill";
unbindkey mouse5;
bind mouse5 "impulse 7";

unbindkey mouse_misc1;
bind mouse_misc1 "kill";
unbindkey mouse_misc2;
bind mouse_misc2 "switchweapon 5 4";

unbindkey p;
bind p "map moon4";

// Necessary to use text UI (QGlyphs)
cl_displayMessages 1
scr_usekfont 0

scr_maxlines 20
scr_printtime 5
scr_centertime 2

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// Define Moon's specific impulses. Must overwrite any "unalias" attempt
alias pm_stats "impulse 40"
alias pm_skill1 "impulse 41"
alias pm_skill2 "impulse 42"
alias pm_skill3 "impulse 43"
alias pm_skill4 "impulse 44"
alias pm_help "impulse 50"
alias pm_inventory "impulse 60"
alias pm_character "impulse 70"
alias pms_alwaysday "impulse 101"
alias pms_fastmeat "impulse 102"
alias pms_slowmeat "impulse 103"
alias pms_noshake "impulse 104"
alias pmc_nohelp "impulse 150"
alias pmc_fps "impulse 151"
alias pm_use "impulse 192"
alias pm_buy "impulse 194"
alias pm_identify "impulse 196"
